
#home .header{
	background-color: #124c8f;
}

#home .header .header-logo{
	background-image: url('../images/header-fdic_logo.png');
    width: 135px;
    height: 51px;
    display: inline-block;
}

#home .header .header-title{
    display: inline-block;
    margin-left: 10px;
    color: #fff;
}

#home .header .header-title h4{
    clear: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 6px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: none;
}

#home .header .header-title h5{
    clear: none;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#home .header .header-right {
    background-image: url('../images/header_seal.png');
    height: 74px;
    background-repeat: no-repeat;
}

#home .header .header-right .search {
	margin-top: 27px;
	width: 300px;
	float: right;
}

#home .header .header-left {
	margin-top: 5px;
}

#home .menu .navbar-default {
	border-radius: 0px;
    background-color: #4d78a5;
    background-image: linear-gradient(to bottom, #4d78a5 0, #4d78a5 100%);
    border: none;
    border-top: 1px solid #fff;

}

#home .menu .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: none;
}

#home .menu .navbar-default .navbar-nav > li > a:hover {
    background-color: #385b83;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #385b83;
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background-image: -webkit-linear-gradient(top, #385b83 0, #385b83 100%);
    background-image: -o-linear-gradient(top, #385b83 0, #385b83 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #385b83), to(#385b83));
    background-image: linear-gradient(to bottom, #385b83 0, #385b83 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#385b83', endColorstr='#385b83', GradientType=0);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu {
    padding: 0;
    background-color: #385b83;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 250px;
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 8px 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #D5E6F6;
    background-image: -webkit-linear-gradient(top, #D5E6F6 0, #D5E6F6 100%);
    background-image: -o-linear-gradient(top, #D5E6F6 0, #D5E6F6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D5E6F6), to(#D5E6F6));
    background-image: linear-gradient(to bottom, #D5E6F6 0, #D5E6F6 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5E6F6', endColorstr='#D5E6F6', GradientType=0);
}

.loading{
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 250px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}